{% extends "base.html" %}

{% block title %}PiStatTracker{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <section class="category color-white">
        <h1 class="text-center text-white py-2 font-bold">Display Settings</h1>
        <h2 class="text-white px-4 py-2 ">Statistics</h2>
        <div class="category-container">
            {% for statistic in statistics %}
                <button class="category-item {{ 'selected' if statistic in selected_settings else '' }}">{{ statistic }}</button>
            {% endfor %}
        </div>

        <div>
        <h3 class="text-white px-4 py-2 ">Spree</h3>
            <div class="category-container">
                {% for spree in sprees %}
                    <button class="category-item {{ 'selected' if spree in selected_settings else ''}}">{{ spree }}</button>
                {% endfor %}
        </div>

        </div>
        <h4>Multi</h4>
        <div>

        </div>
        <h5>Performance</h5>
        <div>

        </div>
        <div>
            <button id="saveButton">Save Settings</button>
        </div>

        <script src="{{ url_for('static', filename='js/userSettings.js') }}"></script>
    </section>
</div>
{% endblock %}
