{% extends "base.html" %}

{% block title %}PiStatTracker{% endblock %}

{% block body %}
<style>
    .stats-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh; 
    }
    .stat-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; 
        max-width: 600px; 
    }
    #dynamicStatImage {
        width: 200px; 
        height: 200px; 
        margin-right: 20px; 
    }
    .stat-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 90px;
    }
    .stat-name, .stat-value {
        text-align: center;
        
    }
</style>
<div id="singleStatView" style= "display: block;">
<div class="gamertag-display">
    Gamertag: <span id="gamertag">{{ gamertag }}</span>
</div>
<div class="stats-container" id="rotatingStat">
    <div class="stat-item">
        <img id="dynamicStatImage" src="" alt="Stat Image">
        <div class="stat-text">
            <span class="stat-value" id="dynamicStatValue">Loading...</span>
            <span class="stat-name" id="dynamicStatName">Stat Name</span>
        </div>
    </div>
    <button onclick="toggleView('dashboardView')" class="text-white">Switch View</button>
</div>

<!-- Hidden elements for passing data to JS -->
<div id="selectedStatsData" style="display: none;">{{ selected_stats | tojson }}</div>
<div id="statsData" style="display: none;">{{ stats | tojson }}</div>
</div>

<div id="dashboardView" style="display: none;">
    <div class="mx-auto max-w-screen-xl p-6">
        <!-- Grid for the Top Section -->
        <div class="font-industry grid grid-cols-1 gap-6 xl:grid-cols-4">
          <!-- Personal Stats Section (aligning with three containers below) -->
          <div class="p-7.5 rounded-md border-black bg-gray-900 px-4 py-4 shadow-md shadow-blue-500 xl:col-span-3">
            <!-- Flex container for Gamertag and Image -->
            <div class="flex items-center justify-center space-x-2">
              <!-- Adjust space between items as needed -->
              <h4 class="text-title-md scale-200 font-industry text-6xl font-bold text-white dark:text-white">{{ gamertag }}</h4>
              <img src="{{ url_for('static', filename='images/careerRanks/hero.png') }}" alt="Rank" class="scale-75" />
            </div>
            <!-- Additional content for Personal Stats -->
            <h4 class="text-title-md font-bold text-white dark:text-white">Personal Score</h4>
          </div>
      
          <!-- Secondary Stats Section (taking up the remaining space) -->
          <div class="border-stroke p-7.5 rounded-md border-black bg-gray-900 px-7 py-3 shadow-blue-500">
            <h4 class="text-title-md font-bold text-white dark:text-white">Secondary Stats</h4>
            <!-- Additional content for Secondary Stats -->
          </div>
        </div>
      
        <!-- Grid for the Containers -->
        <div class="font-industry mt-6 grid grid-cols-1 gap-6 xl:grid-cols-4">
          <!-- Medal Containers -->
          <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:col-span-3 xl:grid-cols-3">
            <!-- Individual containers -->
            <div class="border-stroke shadow-default p-7.5 rounded-md border-stone-300 bg-gray-900">
              <!-- Content for Container 1 -->
              <!-- Card Item Start -->
              <div class="border-stroke px-7.5 shadow-default dark:border-strokedark dark:bg-boxdark rounded-md border-stone-300 bg-gray-900 px-7 py-6">
                <div class="h-11.5 w-11.5 bg-meta-2 dark:bg-meta-4 flex items-center justify-center rounded-full">
                  <img />
                </div>
                <div class="mt-4">
                  <!-- Category Section -->
                  <div class="mb-4">
                    <h4 class="text-title-md font-bold text-white dark:text-white">Multi Medals</h4>
                  </div>
                  <!-- Metrics Container -->
                  <div class="flex flex-col gap-2">
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Double.png') }}" alt="Double" class="h-6" />
                        <span class="text-sm font-medium text-white">Double</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">34</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Triple.png') }}" alt="Triple" class="h-6" />
                        <span class="text-sm font-medium text-white">Triple</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">16</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Overkill.png') }}" alt="Overkill" class="h-6" />
                        <span class="text-sm font-medium text-white">Overkill</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">8</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-stroke shadow-default p-7.5 rounded-md border-black bg-gray-900">
              <!-- Content for Container 2 -->
              <div class="border-stroke px-7.5 shadow-default dark:border-strokedark dark:bg-boxdark rounded-md border-black bg-gray-900 px-7 py-6">
                <div class="h-11.5 w-11.5 bg-meta-2 dark:bg-meta-4 flex items-center justify-center rounded-full">
                  <img />
                </div>
                <div class="mt-4">
                  <!-- Category Section -->
                  <div class="mb-4">
                    <h4 class="text-title-md font-bold text-white dark:text-white">Spree Medals</h4>
                  </div>
    
                  <!-- Metrics Container -->
                  <div class="flex flex-col gap-2">
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/K_spree.png') }}" alt="K Spree" class="h-6" />
                        <span class="text-sm font-medium text-white">K Spree</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">62</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Frenzy.png') }}" alt="K Frenzy" class="h-6" />
                        <span class="text-sm font-medium text-white">K Frenzy</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">31</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Running_Riot.png') }}" alt="Running Riot" class="h-6" />
                        <span class="text-sm font-medium text-white">Running Riot</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">12</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="border-stroke shadow-default p-7.5 rounded-md border-black bg-gray-900">
              <!-- Content for Container 3 -->
              <div class="border-stroke px-7.5 shadow-default dark:border-strokedark dark:bg-boxdark rounded-md border-black bg-gray-900 px-7 py-6">
                <div class="h-11.5 w-11.5 bg-meta-2 dark:bg-meta-4 flex items-center justify-center rounded-full">
                  <img />
                </div>
                <div class="mt-4">
                  <!-- Category Section -->
                  <div class="mb-4">
                    <h4 class="text-title-md font-bold text-white dark:text-white">Skill Medals</h4>
                  </div>
      
                  <!-- Metrics Container -->
                  <div class="flex flex-col gap-2">
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Ninja.png') }}" alt="Ninja" class="h-6" />
                        <span class="text-sm font-medium text-white">Ninja</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">81</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Remote_Detonation.png') }}" alt="Remote Detonation" class="h-6" />
                        <span class="text-sm font-medium text-white">Remote Detonation</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">2</span>
                    </div>
      
                    <div class="flex items-center justify-between">
                      <div class="flex items-center gap-2">
                        <!-- Group for image and text -->
                        <img src="{{ url_for('static', filename='images/medals/Quigley.png') }}" alt="Quigley" class="h-6" />
                        <span class="text-sm font-medium text-white">Quigley</span>
                      </div>
                      <span class="text-meta-3 text-sm font-medium text-white">5</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Match History Section (aligned with Secondary Stats in width) -->
          <div class="border-stroke shadow-default p-7.5 rounded-md border-black bg-gray-900 px-7 py-3 xl:col-span-1">
            <h4 class="text-title-md font-bold text-white dark:text-white">Match History</h4>
            <button onclick="toggleView('singleStatView')" class="text-white">Switch View</button>
          </div>
        </div>
      </div>
      
</div>
<script src="{{ url_for('static', filename='js/statController.js') }}"></script>

{% endblock %}

